body {
    font-family: AppleGothic;

}

@media screen and (max-width: 499px) {
    .alert-info {
        background-color: hotpink;
        text-align: center;
        width: 850px;
        padding: 2em;
    }
    body {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h1, .alert-info, .nav-links {
        text-align: center;
    }
    h1 {
        font-size: 50px;
        margin: .2em 0;
    }
    .alert-info {
        display: flex;
        width: auto;
        height: 3em;
        background: hotpink;
        border: 1px solid grey;
    }
    .alert-info a {
        color: black;
        text-decoration: none;
        margin: auto;
    }

    .nav-links {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 0;
    }
    .nav-links li {
        background: cornflowerblue;
        padding: .5em;
       margin: .5em 0;
    }

    .sub-section {
    font-style: italic;

    }
    .header-img img {
        display: flex;
        margin: auto;
        width: 100%;
    }
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
    }

}
@media screen and (min-width: 500px) {


    .hidden-on-desktop {
        display: none;
    }

    .nav-links {
        display: inline-block;
        flex-direction: row;
        justify-content: flex-end;
        align-content: flex-end;
        list-style: none;
    }

    footer {
        margin-top: 15em;
    }

    .nav-links {
        display: flex;
        float: top;
    }

    nav {
        display: inline-block;
        float: right;
    }

    h1 {
        display: inline-block;
        float: bottom;
        font-weight: bolder;
    }

    ul {
        list-style: none;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: .4em;
    }

    .header-img {
        margin-top: 3em;
    }

    #main {
        display: inline-block;
        justify-content: left;
        flex-wrap: wrap;
        width: 60%;
        order: 2;
    }

    .sub-section {
        display: inline-block;
        float: right;
        width: 35%;
        order: 1;
        font-style: italic;
    }

    i {
        font-size: 2em;
        margin-right: 8px;
    }

    .big-title {
        display: block;
    }

    .small-title, .smallest-title {
        display: none;
    }


    .pixel {
        width: 100%;
        height: auto;
    }

    div {
        display: flex;
        justify-content: space-evenly;
    }

    #side-story {
        width: 35%;
        order: 1;
    }

    #main-story {
        width: 65%;
        order: 2;
    }

    article {
        overflow: auto;
        height: 128px;
    }
    img {
        width: 100%;
    }
}
